/.idea
*.iml
.project
.settings
*.log

target/
.classpath
resume-search-service/src/etc/service.properties

# macOS junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini
